body {
  background-color: #1A1423;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

.container {
  color: #93B7BE;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 10px; 
  border-radius: 5px; 
  border: 0px solid transparent; 
  cursor: pointer;
  height: 2.5em;
}

/* NAVBAR */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2E2241;
  color: #44AF69;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
}

.todayTasks {
  padding-left: 10px;
  font-weight: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.addNewTask {
  width: 55px;
  height: 55px;
  margin-right: 20px;
  text-align: center;
  background-color: transparent;
  color: white;
  font-size:medium;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #44AF69;
}

.addNewTask:hover {
  transition: 0.2s;
  font-size: large;
  font-weight: bold;
  background-color: #44AF69;
  border: 2px solid #1A1423;
  color: white;
}

/* TASKLIST */

.tasklist {
  color: white;
  padding-top: 100px;
}

.errMessage {
  margin: 20px;
  padding: 20px;
  width: 100% fit-content;
  background-color: brown;
  color: white;
  border: pink;
  border-radius: 5px;
}

/* TASK */
.task {
  background-color: #2E2241;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  padding: 10px;
}

.titleAndPoints {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 5px;
}

/* PROGRESS BAR */

.progressBar {
  min-width: 50%;
  height: 2em;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #1A1423;
  border: 1px solid #1A1423;
  border-radius: 10px;
}

.percentageBar {
  height: 100%;
  background-color: #ce89ee;
  border: 1px solid #6d457f;
  border-radius: 9px;
}

/* FOOTER */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #6d457f;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
}

.footerButton {
  margin-right: 10px;
  background-color: red;
  color: white;
  border: 0px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.githubIcon {
  cursor: pointer;
  padding-left: 15px;
  text-decoration: none;
  color: #1A1423;
  font-size: xx-large;
}

.githubIcon:hover {
  color: #ce89ee;
}